(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.16127878,
                    absolute_size_left: Some(317.02872),
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 316.57144,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.71839297,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 317.7143,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.840499,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 316.57144,
                            y: 545.7143,
                        ),
                    ),
                    fraction: 0.2034711,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 546.8571,
                        ),
                        max: (
                            x: 316.57144,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 570.84375,
                        ),
                        max: (
                            x: 316.5625,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        LeftPanel,
                        ParentSettings,
                        AdhesionSettings,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 317.7143,
                            y: 22.0,
                        ),
                        max: (
                            x: 1702.8572,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.8900293,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1704.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1704.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        RightPanel,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 316.57144,
                            y: 128.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 46.0,
                        ),
                        max: (
                            x: 316.5625,
                            y: 128.0,
                        ),
                    ),
                    tabs: [
                        NameTypeEditor,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 128.57143,
                        ),
                        max: (
                            x: 316.57144,
                            y: 545.7143,
                        ),
                    ),
                    fraction: 0.35276192,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 317.7143,
                            y: 22.0,
                        ),
                        max: (
                            x: 1702.8572,
                            y: 671.4286,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 317.71875,
                            y: 22.0,
                        ),
                        max: (
                            x: 1702.875,
                            y: 671.4375,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 317.7143,
                            y: 672.0,
                        ),
                        max: (
                            x: 1702.8572,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.5141353,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 128.57143,
                        ),
                        max: (
                            x: 111.42857,
                            y: 545.7143,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 152.5625,
                        ),
                        max: (
                            x: 111.4375,
                            y: 545.71875,
                        ),
                    ),
                    tabs: [
                        Modes,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 112.0,
                            y: 128.57143,
                        ),
                        max: (
                            x: 316.57144,
                            y: 545.7143,
                        ),
                    ),
                    fraction: 0.39959756,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 317.7143,
                            y: 672.0,
                        ),
                        max: (
                            x: 1029.1428,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 317.71875,
                            y: 696.0,
                        ),
                        max: (
                            x: 1029.1563,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        TimeSlider,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1030.2858,
                            y: 672.0,
                        ),
                        max: (
                            x: 1702.8572,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1030.2813,
                            y: 672.0,
                        ),
                        max: (
                            x: 1702.8438,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        BottomPanel,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 112.0,
                            y: 128.57143,
                        ),
                        max: (
                            x: 316.57144,
                            y: 294.85715,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 112.0,
                            y: 152.5625,
                        ),
                        max: (
                            x: 316.5625,
                            y: 294.84375,
                        ),
                    ),
                    tabs: [
                        CircleSliders,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 112.0,
                            y: 296.0,
                        ),
                        max: (
                            x: 316.57144,
                            y: 545.7143,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 112.0,
                            y: 320.0,
                        ),
                        max: (
                            x: 316.5625,
                            y: 545.71875,
                        ),
                    ),
                    tabs: [
                        QuaternionBall,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
            ],
            focused_node: Some((17)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)