(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.10110455,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 198.28572,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 198.28125,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        LeftPanel,
                    ],
                    active: (0),
                    scroll: -0.0,
                    collapsed: false,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 199.42857,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.8928757,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Empty,
                Empty,
                Vertical((
                    rect: (
                        min: (
                            x: 199.42857,
                            y: 22.0,
                        ),
                        max: (
                            x: 1776.5714,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.84227985,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1777.7142,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1777.7188,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        RightPanel,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 199.42857,
                            y: 22.0,
                        ),
                        max: (
                            x: 1776.5714,
                            y: 636.5714,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 199.4375,
                            y: 22.0,
                        ),
                        max: (
                            x: 1776.5938,
                            y: 636.5625,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 199.42857,
                            y: 637.1429,
                        ),
                        max: (
                            x: 1776.5714,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 199.4375,
                            y: 637.15625,
                        ),
                        max: (
                            x: 1776.5938,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        BottomPanel,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
            ],
            focused_node: Some((1)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)