(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.16525826,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 324.57144,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.55656606,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 325.7143,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.83862394,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 324.57144,
                            y: 427.42856,
                        ),
                    ),
                    fraction: 0.2525762,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 428.57144,
                        ),
                        max: (
                            x: 324.57144,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 452.5625,
                        ),
                        max: (
                            x: 324.5625,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        LeftPanel,
                        RangeSliders,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 325.7143,
                            y: 22.0,
                        ),
                        max: (
                            x: 1701.1428,
                            y: 752.0,
                        ),
                    ),
                    fraction: 0.78513753,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1702.2858,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1702.2813,
                            y: 22.0,
                        ),
                        max: (
                            x: 1965.7188,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        RightPanel,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 22.0,
                        ),
                        max: (
                            x: 324.57144,
                            y: 123.42857,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 46.0,
                        ),
                        max: (
                            x: 324.5625,
                            y: 123.4375,
                        ),
                    ),
                    tabs: [
                        NameTypeEditor,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 124.57143,
                        ),
                        max: (
                            x: 324.57144,
                            y: 427.42856,
                        ),
                    ),
                    fraction: 0.3860294,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 325.7143,
                            y: 22.0,
                        ),
                        max: (
                            x: 1701.1428,
                            y: 594.8571,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 325.71875,
                            y: 22.0,
                        ),
                        max: (
                            x: 1701.1563,
                            y: 594.84375,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 325.7143,
                            y: 595.4286,
                        ),
                        max: (
                            x: 1701.1428,
                            y: 752.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 325.71875,
                            y: 595.4375,
                        ),
                        max: (
                            x: 1701.1563,
                            y: 752.0,
                        ),
                    ),
                    tabs: [
                        BottomPanel,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 124.57143,
                        ),
                        max: (
                            x: 124.57143,
                            y: 427.42856,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 148.5625,
                        ),
                        max: (
                            x: 124.5625,
                            y: 427.4375,
                        ),
                    ),
                    tabs: [
                        Modes,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 125.71429,
                            y: 124.57143,
                        ),
                        max: (
                            x: 324.57144,
                            y: 427.42856,
                        ),
                    ),
                    fraction: 0.5207547,
                    absolute_size_left: None,
                    absolute_size_right: None,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Leaf((
                    rect: (
                        min: (
                            x: 125.71429,
                            y: 124.57143,
                        ),
                        max: (
                            x: 324.57144,
                            y: 281.7143,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 125.71875,
                            y: 148.5625,
                        ),
                        max: (
                            x: 324.5625,
                            y: 281.71875,
                        ),
                    ),
                    tabs: [
                        CircleSliders,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 125.71429,
                            y: 282.85715,
                        ),
                        max: (
                            x: 324.57144,
                            y: 427.42856,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 125.71875,
                            y: 306.84375,
                        ),
                        max: (
                            x: 324.5625,
                            y: 427.4375,
                        ),
                    ),
                    tabs: [
                        QuaternionBall,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
            ],
            focused_node: Some((6)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)